.navigation {
  position: fixed;
  top: 0;
  z-index: 100;
}
.product-card {
  border: 1px solid black;
  padding: 1rem 0rem;
  margin: 1rem 1rem;
  text-align: center;
  float: left;
}
.product-card-top {
  margin-top: 5rem;
}
.product-card-img {
  height: 10rem;
  width: 15rem;
}
.product-layout {
  margin-bottom: 52px;
}
@media screen and (min-width: 769px) {
  .product-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 0;
  }
}
.filter-and-sort {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  background-color: var(--white);
  height: fit-content;
  position: sticky;
  top: 90.2px;
  left: 0;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.button-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.labels {
  padding: 0.2rem 0rem;
}
