body{
  background-color: #FDFBFC;
  padding: 0.5rem;
}
.navigation {
  position: fixed;
  top: 0;
  z-index: 100;
  padding-bottom: 5rem; 
  background-color: white;
  box-shadow: 5px 5px #F7F2F2;

}
ul {
  margin-right: 1.5rem;
}
.ham-icon {
  padding-right: 5rem;
}
.product-card {
  margin: 0.5rem 0.3rem ;
  float: left;
}
.product-card-top {
  margin-top: 6rem;
}
.product-card-img {
  height: 10rem;
  width: 15rem;
}
.product-layout {
  margin-bottom: 52px;
}
.sidebar {
  background-color: peachpuff;
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 500;
  margin-top: 0rem;
}
.mob {
  display: none;
}
.show {
  left: 0;
}
.hide {
  left: -2000px;
}
.fas {
  padding: 0 1.5rem 0 0;
}
.btn{
  margin: 0.2rem;
}
.brand{
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 769px) {
  .product-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 0;
  }

  .filter-and-sort {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    background-color: var(--white);
    height: fit-content;
    position: sticky;
    top: 90.2px;
    left: 0;
  }
  .ham-icon {
    display: none;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
}
.button-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.labels {
  padding: 0.2rem 0rem;
}
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  max-width: fit-content;
  margin: auto;
}
.input-container {
  padding: 0.5rem;
  margin: 0.5rem;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  max-width: fit-content;
  margin: auto;
}
.text-password {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: inherit;
  margin-left: 1.5rem;
}
